main {
    background-image: url(../images/faq-2.jpg);
    background-size: cover;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 30px 10px;
    
}

h3 p {
    margin: 15px 10px;
    text-align: left;
}

.faqlist {
    list-style-type:none;
    margin: auto;
}

@media screen and (min-width: 768px) {
    
    img {
        float: right;
        margin-left: 20px;
    }  
    
    
/*the .rateicon is not being recognized by common.css, this looks better, but the logos are not centered. May be fixed when we combine css... ideas?    -KR    */
    .rateWrapper {
        display: grid;
    }
}
